/* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@300&family=Roboto+Mono:wght@100&display=swap');

body{

    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
    /*background-color: #526D82;*/
    background-image: url(https://i.pinimg.com/564x/91/d9/c0/91d9c08de3903e7dccc498b8ab205eab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

#mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{

    font-family: 'Black Ops One', cursive;
    font-size: 40px;
     color: #996f6f;
     text-align: center
    
}

.subtitulo{
    color: #DDE6ED;
    font-size: 20px;
}



.tarjetas, .poderes-mascota{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.tarjeta-mascota {
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 4px solid rgb(155, 144, 144);
    border-radius: 30px;
    color: azure;
    display: flex;
    align-content: center;
    align-items: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    
}
.tarjeta-mascota img{
    width: 100px;
    height: 90px;
    border-radius: 20px;

}

#boton-mascota{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2none;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    margin: 30px 20px 10px 5px;
    cursor: pointer;
}

#ataque{
    font-family: 'Black Ops One', cursive;
    color: rgb(192, 176, 176);
    flex-direction: column;
    align-items: center;

}

.poderes{
    background-color: rgb(4, 43, 75);
    width:80px;
    height:40px;
    color: azure;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

}

#resultado{
    font-family: 'Black Ops One', cursive;
    color: rgb(192, 176, 176)
}


#mensajes{
    width: 280px;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    
}


#boton-reiniciar{
    cursor: pointer;
    color: azure;
    background-color: transparent;
    border-radius: 10px solid #0C356A;
    
}




.ataques{
   display: grid;
   grid-template-columns: 400px 500px;
   justify-items: center; 
 
}
.jugador-opciones , .enemigo-opciones{
    display: flex;
    flex-direction: column;
    align-items:center ;
}


@media(max-widht: 360px){
    .tarjetas, .poderes-mascota{
        flex-direction: column;
    }
}

input{
    display: none; 
}

input:checked + label{
   
 
   background-image: url("/mokepon/assets/trueno.jpg");
   height: 100px;
}